// breakpoints
   
$S:     320px;   
$M:     768px;     
$L:     1170px;     

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}


/* full popout navigation */
.overflow-hidden {
	overflow: hidden;
}
.cd-header {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba($white, .95);
	height: $header-height-S;
	width: 100%;
	z-index: $header-zindex;
	box-shadow: 0 1px 2px rgba(#000, .3);
	@include font-smoothing;

	@include MQ(M) {
		height: $header-height-M;
		background: transparent;
		box-shadow: none;
	}

	@include MQ(L) {
		@include transition(background-color .3s);

		/* Force Hardware Acceleration in WebKit */
		@include transform(translate3d(0,0,0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;

		&.is-fixed {
			/* when the user scrolls down, we hide the header right above the viewport */
			position: fixed;
			top: -$header-height-M;
			background-color: rgba($color-1, .96);
			-webkit-transition: -webkit-transform 0.3s;
			-moz-transition: -moz-transform 0.3s;
			transition: transform 0.3s;
		}

		&.is-visible {
			/* if the user changes the scrolling direction, we show the header */
			@include transform(translate3d(0,100%,0));
		}

		&.menu-is-open {
			/* add a background color to the header when the navigation is open */
			background-color: rgba($color-1, .96);
		}
	}
}

.cd-logo {
	display: block;
	position: absolute;
	@include center(y);
	left: .875em;

	img {
		display: block;
	}

	@include MQ(M) {
		left: 2.6em;
	}
}

.cd-secondary-nav {
	position: absolute;
	@include center(y);
	right: 10em;
	/* hidden on small devices */
	display: none;

	li {
		display: inline-block;
		margin-left: 2.2em;
	}

	a {
		display: inline-block;
		color: $color-3;
		text-transform: uppercase;
		font-weight: 700;
	}

	@include MQ(M) {
		display: block;
	}
}

.cd-primary-nav-trigger {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 50px;
	background-color: lighten($color-1, 5%);

	.cd-menu-text {
		color: $color-3;
		/* hide the text on small devices */
		display: none;
	}

	.cd-menu-icon {
		/* this span is the central line of the menu icon */
		display: inline-block;
		position: absolute;
		@include center; // mixin inside partials > _mixins.scss
		width: 18px;
		height: 2px;
		background-color: $color-3;
		@include transition(background-color .3s);
		
		/* these are the upper and lower lines in the menu icon */
		&::before, &:after {
			content: '';
			width: 100%;
			height: 100%; 
			position: absolute;
			background-color: $color-3;
			right: 0;

			-webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
			-moz-transition: -moz-transform .3s, top .3s, background-color 0s;
			transition: transform .3s, top .3s, background-color 0s;
		}
		
		&::before {
			top: -5px;
		}

		&::after {
			top: 5px;
		}

		&.is-clicked {
			background-color: rgba($color-3, 0);

			&::before, &::after {
				background-color: rgba($color-3, 1);
			}

			&::before {
				top: 0;
				@include transform(rotate(135deg));
			}

			&::after {
				top: 0;
				@include transform(rotate(225deg));
			}
		}
	}

	@include MQ(M) {
		width: 100px;
		padding-left: 1.5em !important;
		background-color: transparent;
		height: 30px;
		line-height: 30px;
		right: 1em;
		@include center(y);

		.cd-menu-text {
			display: inline-block;
		}

		.cd-menu-icon {
			left: auto;
			right: -0.6em;
			@include transform(translateX(0) translateY(-50%));
		}
	}
}

.cd-primary-nav {
	/* by default it's hidden - on top of the viewport */
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba($color-1, .8);
	z-index: $nav-zindex;
	text-align: center;
	padding: $header-height-S 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	overflow: auto;
	/* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
	-webkit-overflow-scrolling: touch;

	@include transform(translateY(-100%));
	@include transition-property(transform);
	@include transition-duration(.4s);

	li {
		@include font-size(22px);
		font-weight: 300;
		@include font-smoothing;
		margin: .2em 0;
		text-transform: capitalize;
	}

	a {
		display: inline-block;
		padding: .4em 1em;
		text-decoration: none;
		color: $white;
		font-family: $font-secondary;	
		@include border-radius;
		@include transition(color .2s);

		.no-touch &:hover {
			color: $color-2;
		}
	}

	.cd-label {
		color: lighten($color-1, 15%);
		text-transform: uppercase;
		font-weight: 700;
		@include font-size(14px);
		margin: 2.4em 0 .8em;
	}

	.cd-social {
		display: inline-block;
		margin: 0 .4em;
		
		a {
			width: 44px;
			height: 44px;
			padding: 0;
			background-image: url('../img/cd-socials.svg');
			background-repeat: no-repeat;

			/* image replacement */
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
		}
	}

	.cd-facebook a {
		background-position: 0 0;
	}

	.cd-instagram a {
		background-position: -44px 0;
	}

	.cd-dribbble a {
		background-position: -88px 0;
	}

	.cd-twitter a {
		background-position: -132px 0;
	}

	&.is-visible {
		@include transform(translateY(0));
	}

	@include MQ(M) {
		padding: $header-height-M 0;
	}

	@include MQ(L) {
		li {
			@include font-size(30px);
		}

		.cd-label {
			@include font-size(16px);
		}
	}
}

.cd-intro {
	position: relative;
	height: 100%;
	background: url('../img/cd-background-img.jpg') no-repeat center center;
	background-size: cover;
	z-index: $content-zindex;
	@include font-smoothing;

	h1 {
		position: absolute;
		width: 90%;
		max-width: $L;
		@include center;

		color: $color-3;
		@include font-size(20px);
		font-weight: 300;
		text-align: center;
	}

	@include MQ(M) {
		h1 {
			@include font-size(30px);
		}
	}

	@include MQ(L) {
		height: 700px;
	}
}

.cd-main-content {
	position: relative;
	z-index: $content-zindex;

	p {
		line-height: 1.6;
		margin: 2em 0;
	}

	@include MQ(L) {
		p {
			@include font-size(20px);
		}
	}
}


// Header
/* Header */
.header {
    background: $white;
    padding: 2rem 0;
}

.header-fixed {
    position: fixed;
    z-index: 10;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
}

@-webkit-keyframes headroom--pinned {
  0% {
    -webkit-transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes headroom--pinned {
  0% {
    -moz-transform: translateY(-100%);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes headroom--pinned {
  0% {
    -o-transform: translateY(-100%);
  }

  100% {
    -o-transform: translateY(0);
  }
}

@keyframes headroom--pinned {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.headroom--pinned {
    display: block;
    -webkit-animation-name: headroom--pinned;
  animation-name: headroom--pinned;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

@-webkit-keyframes headroom--unpinned {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes headroom--unpinned {
  0% {
    -moz-transform: translateY(0);
  }

  100% {
    -moz-transform: translateY(-100%);
  }
}
@-o-keyframes headroom--unpinned {
  0% {
    -o-transform: translateY(0);
  }

  100% {
    -o-transform: translateY(-100%);
  }
}
@keyframes headroom--unpinned {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}


.headroom--unpinned {
    -webkit-animation-name: headroom--unpinned;
  -moz-animation-name: headroom--unpinned;
  -o-animation-name: headroom--unpinned;
  animation-name: headroom--unpinned;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.headroom--top {
   background: transparent;
}

.headroom--not-top {
    background: rgba(0,0,0,0.7); 
}

/* Header, logo & navigation */
header {
    h1 {
      display: inline;  
    }
    
    nav.top-nav {
        float: right;
        
        ul {
            margin: 0 0;
            
            li {
                float: left;
                /* Rectangle 7: */
                border: 1px solid #FFFFFF;
                border-radius: 3px;
                margin: 0 0 0 2rem;
                padding: .5rem;
                a {
                    font-family: $font-secondary;
                    font-weight: 300;
                    text-decoration: none;
                    color: $white;
                    /* Log in: */
                    font-size: 1.15rem;
                    color: #FFFFFF;
                    letter-spacing: 0.89px;
                    line-height: 22px;
                    padding: 1rem;
					position: relative;
                }
            } //li
        } // ul
    } // navigation
} //header


/* Hero banner area */
/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

.fullscreen {
    width:100%;
    min-height:100%;
    
    article {
        background: rgba(0,0,0,.4);
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 5rem 0 0 0;
        
        h1 {
            font-family: $font-secondary;
            font-size: 5rem;
            font-weight: 100;
            width: 50%;
            margin: 0 auto;
        } //h1 header
        
        p {
           font-family: $font-secondary;
            /* Manage products and : */
            font-size: 1.3rem;
            color: $white;
            letter-spacing: 0.5px;
            line-height: 34px;
            width: 50%;
            margin: 0 auto 8rem auto;
        } //paragraph
        
        a {
            text-decoration: none;
            color: $white;
            border-radius: 30px;
            /* Sign up free: */
            font-family: $font-secondary;
            font-size: 1.2rem;
            font-weight: 100;
            letter-spacing: 0.86px;
            line-height: 22px;
            background: rgba(0,0,0,0.8);
            margin: 0 0 0 0;
            padding: 1.2rem;
            display: inline-block;
            
            span {
                text-transform: uppercase;
            }
        } //link
    } //article hero content area
} //fullscreen hero banner container

/* platform */
.platform {
  @include clearfix;
  
  article {
    margin: 5rem 0 0 0;
    
    h1 {
      /* Ready to Get Started: */
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 3rem;
    color: $mediumgray;
    letter-spacing: 0.85px;
    line-height: 66px;
    margin: 0 0 4rem 0;
      text-align: center;
    } //header
    
    .wrapper {
      float: left;
      width: 40%;
      padding: 0 0 0 2.5rem;
    }
    
    p {
      /* We believe that your: */
      font-family: $font-secondary;
      font-weight: 300;
      font-size: 1.1rem;
      color: rgba(60, 58, 58, 0.95);
      letter-spacing: 0.4px;
      line-height: 33px;
      margin: 0 0 1rem 0;
    } //paragraph
    
    img {
      float: right;
      display: block;
      
    }
    
  }
} //One platform


/* Merchnats Rely on us to sell */
.merchants {
  @include clearfix;
  
  article {
    margin: 0rem 0 0 0;
    background-color: $lightergray;
    border: 1px solid $border-color;
    text-align: center;
    padding: 5rem;
    h1 {
      /* Ready to Get Started: */
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 3rem;
    color: $mediumgray;
    letter-spacing: 0.85px;
    line-height: 66px;
    margin: 0 0 4rem 0;
      text-align: center;
    } //header
    
    .wrapper {
      float: left;
      width: 40%;
    }
    
    p {
      /* We believe that your: */
      font-family: $font-secondary;
      font-weight: 300;
      font-size: 1.1rem;
      color: rgba(97, 97, 97, 0.85);
      letter-spacing: 0.92px;
      line-height: 30px;
      margin: 0 0 1rem 0;
    } //paragraph
    
    img {
      float: right;
      display: block;
      
    }
    
  }
} //Merchants Rely on us to sell

/* Features */
.features {
  @include clearfix;
  
  article {
    margin: 0 0;
    text-align: center;
    padding: 0rem 5rem 5rem 5rem;
    
    &.feature-tabs {
      padding: 0;
      margin: 0 0 5rem 0;
      border-bottom: 1px solid $border-color;
    }
    h1 {
      /* Ready to Get Started: */
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 3rem;
    color: $mediumgray;
    letter-spacing: 0.85px;
    line-height: 66px;
    margin: 5rem 0 4rem 0;
      text-align: center;
    } //header
    
    .wrapper {
      float: left;
      width: 40%;
    }
    
    p {
      /* We believe that your: */
      font-family: $font-secondary;
      font-weight: 300;
      font-size: 1.1rem;
      color: rgba(60, 58, 58, 0.95);
      letter-spacing: 0.4px;
      line-height: 33px;
      text-align: center;
      margin: 0 auto 1rem auto;
      padding: 0 8rem;
      width: auto;
      display: inline-block;
    } //paragraph
    
    div.image-wrapper {
      display: inline-block;
      clear: both;
      width: auto;
      margin: 0 auto;
    }
    
    img {
      float: right;
      display: block;
      
    }
    
  }
} //Features

/* Sell Anything */
.sell-anything {
  @include clearfix;
  article {
    h1 {
      /* Ready to Get Started: */
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 3rem;
    color: $mediumgray;
    letter-spacing: 0.85px;
    line-height: 66px;
    margin: 0 0 3rem 0;
      text-align: center;
    } //header
    
    ul.product-icons {
      margin: 0 2rem;
      
      li {
        display: inline-block;
        width: 33%;
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
        padding: 3rem 0rem 3rem 0rem;
        display: inline-block;
        max-height: 30rem;
        vertical-align: middle;
        white-space: nowrap;
        img {
          vertical-align: middle;
          max-height: 80px;
          max-width: 160px;
        }
      }
    }
  } //article
} //sell anything


/* Get Started */
.get-started {
  /* Rectangle 11: */
  @include clearfix;
  display: block;
  background-color: $lightergray;
  border: 1px solid $border-color;
  text-align: center;
  padding: 5rem;
  margin: 0 0 6rem 0;
  
  h1 {
    /* Ready to Get Started: */
     font-family: $font-secondary;
    font-weight: 300;
    font-size: 3rem;
    color: $mediumgray;
    letter-spacing: 0.85px;
    line-height: 66px;
    margin: 0 0 3rem 0;
  }
  
  a {
    /* Rectangle 7: */
    background: #F38630;
    border-radius: 80px;
    /* Sign up free: */
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 1.4rem;
    color: $white;
    letter-spacing: 0.73px;
    line-height: 29px;
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
    
    span {
      text-transform: uppercase;
    }
  }
}

/* Footer */
footer {
  nav.social-nav {
    display: inline-block;
    @include clearfix;
    margin: 1rem auto 2rem auto;
    width: auto;
    text-align: center;
    ul {
      li {
        float: left;
        display: block;
        margin: 0 1rem;
        a {
          display: inline-block;
          width: auto;
          height: auto;
        } //link
      } //li
    } //ul
  } //bottom navigation
} //footer




























