/* Header */
header {
    @include clearfix;
    width: 100%;
}

/* Hero area */
.hero {
    background: url(../images/shopping.png) 0 0 no-repeat;
    width: auto;
    height: 53.4rem;
    text-align: center;
    padding:0 0;
    color: $white;
}

/* footer */
footer {
    text-align: center;
    margin: 0 0 2rem 0;
    p {
        @include clearfix;
        font-family: $font-secondary;
        font-weight: 300;
        /* 2015 LukaDuka. All r: */
        font-size: 1rem;
        color: $copyright-gray;
        letter-spacing: 0.63px;
        line-height: 19px;
    }
}

/* Paper Tabs */
.toolbar {
    height:64px;
    background: $white;
}
.tabs {
    padding-top:14px;
}
.tabs ul {
    list-style:none;
    margin:0;
    width:100%;
    overflow:hidden;
    padding:0;
    margin-left:0;
}
.tabs ul li {
    float:left;
    width:auto;
    margin: 0 7.5rem 0 0rem;
}

.tabs ul li:last-child {
    margin: 0;
}

.tabs a {
    position:relative;
    color: $tab-link-color;
    text-decoration:none;
    display:block;
    width:auto;
    height:50px;
    text-align:center;
    font-weight:300;
    font-size: 1.3rem;
    overflow:hidden;
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 20px;
    color: rgba(75,91,102,0.85);
    line-height: 30px;
}

.tabs .active a {
    color: $blue;
}

@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
	40% {
    @include transform(translateY(-30px));
  }
	60% {
    @include transform(translateY(-15px));
  }
}

.tabs .active a:after {
    height: 0;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0px;
    left: 0px;
    position: absolute;
    background: $white;
-webkit-animation: border-expand 0.2s cubic-bezier(0.4, 0.0, 0.4, 1) 0s alternate forwards;
    -moz-animation: border-expand 0.2s cubic-bezier(0.4, 0.0, 0.4, 1) 0s alternate forwards;
    transition:all 1s cubic-bezier(0.4, 0.0, 1, 1);
}

.tabs a span {
    position:absolute;
    margin-left:-40px;
    margin-top:-24px;
    width:80px;
    background: $blue;
    height:100%;
    display:block;
    border-radius:50%;
    opacity:0;
}

.tabs a span.clicked {
    /*-webkit-animation: expand 0.6s cubic-bezier(0.4, 0.0, 0.4, 1) 0s normal;
    -moz-animation: expand 0.6s cubic-bezier(0.4, 0.0, 0.4, 1) 0s normal;*/
    border-bottom:2px solid $blue;
}
.content {
    box-shadow: none;
    border-top: 1px solid $border-color;
    height:500px;
    padding-top:50px;
    position:relative;
    top:0px;
    overflow:hidden;
}

.item {
    background:white;
    width:440px;
    padding-bottom:30px;
    margin:0 auto 2em;
}

.itemhead {padding:30px;overflow:hidden;position:relative;}
.itemhead img {border-radius:100%;float:left}
.itemhead h2 {float:left;margin-left:20px;}
.itemhead .heart {cursor:pointer;position:absolute;right:4px;top:4px;padding:7px;border-radius:2px}
.item p:first-of-type {margin-top:0}
.item p {padding:0px 30px;font-size:19px;line-height:26px;margin:0;margin-top:1em;}
.item a {text-decoration:none;color:#00bcd4;font-weight:500;font-size:0.8em;}

.heart:hover {box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.1)}
.heart #favorite {fill:#636363}
.heart.active #favorite {fill:#DA4336;}

.box {
    display:none;
    overflow:auto;
    position:relative;
    overflow-x:hidden;
}

.box.show {
    display:block;
}

@-webkit-keyframes expand {
    0% {
        background:rgba(255,255,141,1);
        opacity:1;
        border-radius:100%;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform:scale(0);
    }
    50% {
        background:rgba(255,255,141,0.8);
        border-radius:50%;
    }
    100% {
        background:rgba(255,255,141,0);
        transform: scale(3);
        border-radius: 0;
        -webkit-transform: scale(3);
        -moz-transform:scale(3);
        opacity:1;
    }
}
@-moz-keyframes expand {
    0% {
        background:rgba(255,255,141,1);
        opacity:1;
        border-radius:100%;
        transform: scale(0);
        -moz-transform:scale(0);
    }
    50% {
        background:rgba(255,255,141,0.8);
        border-radius:50%;
    }
    100% {
        background:rgba(255,255,141,0);
        transform: scale(3);
        border-radius: 0;
        -moz-transform:scale(3);
        opacity:1;
    }
}
@-webkit-keyframes border-expand {
    0% {
        opacity:0;
        width:0;
    }
    100% {
        opacity:1;
        width:100%;
    }
}
@-moz-keyframes border-expand {
    0% {
        opacity:0;
        width:0;
    }
    100% {
        opacity:1;
        width:100%;
    }
}

.b-lazy {
        -webkit-transition: opacity 500ms ease-in-out;
           -moz-transition: opacity 500ms ease-in-out;
             -o-transition: opacity 500ms ease-in-out;
                transition: opacity 500ms ease-in-out;
                 max-width: 100%;
                 opacity: 0;
    }
    .b-lazy.b-loaded {
                   opacity: 1;
    }