@media (max-width: 65rem) {
  .wrap {
    width: 54rem;
  }
  
  .tabs ul li {
    margin: 0 1.5rem 0 1rem;
  }
}


@media (max-width: 55rem) {
    .wrap {
    width: 48rem;
  }
} //media query

@media (max-width: 48rem) {  
   .wrap {
    width: 40rem;
  }
} //media query

@media (max-width: 37.5rem) {
  .wrap {
    width: 30rem;
    background: #000;
  }
}


@media (max-width: 30rem) and (orientation:portrait) {
  .wrap {
    width: 40rem;
    background: #000;
  }
} //small devices media query


@media (max-width: 30rem) and (orientation:landscape){
   
}

// Smallest common viewport ----------------------
@media (max-width: 25rem) {
 .wrap {
    width: 40rem;
    background: #000;
  }
} // smallest width