// colors
$lightgray         : #c9c9c9;
$lightergray       : #f2f2f2;
$gray              : #555555;
$lightgray         : #e6e6e6;
$mediumgray        : #616161;
$darkgray          : #3d3d3d;
$darkergray        : #141414;
$darkblue          : #0d3147;
$orange            : #f38630;
$blue              : #308AD2;
$green             : #9acf3a;
$white             : #ffffff;
$copyright-gray    : #3A3939;
$background-gray   : #D8D8D8;
$border-color      : #EBEBEB;
$copy-color        : #638286;
$tab-link-color    : #4B5B67;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Lato', sans-serif;

$default-border-radius : 3px;

$color-1: #000; // blue
$color-2: #f38630; // orange
$color-3: #fff; // white


//header height

$header-height-S: 50px;
$header-height-M: 8rem;

// z-index 

$content-zindex: 1;
$nav-zindex: 2;
$header-zindex: 3;